<app-navbar></app-navbar>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-auto">
        <img src="assets/img/presentazione/COLLINE.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-auto" style="padding: 3%; margin-top: 10%;">
        <p class="text-center fs-3 text-uppercase text-warning">L'Associazione</p>
        <p class="text-start fs-6 fw-light" >L’Associazione Prodotti Nobili Marchigiani è presente sul territorio da oltre vent’anni, ma si è costituita
          legalmente nel 2014, anno in cui ha organizzato e promosso - insieme all’Università Politecnica delle
          Marche ed all’Azienda Ospedaliera Universitaria Ospedali Riuniti di Ancona - un evento &quot;di portata storica”
          per le Marche, in cui Istituzioni, Associazioni, Mondo Scientifico, Economico, Sanitario, Agro-Alimentare,
          Tecnologico e Ambientale si sono trovati tutti insieme per firmare “La Carta d’Intenti per la Salute
          dell’Uomo”.
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 4%">
    <div class="col-sm-6">
      <div class="card mb-auto" style="padding: 3%;">
        <p class="text-center fs-4 text-uppercase" >La carta d'intenti per la salute dell'uomo</p>
        <p class="text-start fs-6 fw-light" >
          La “Carta d’Intenti per la Salute dell’Uomo” è un manifesto per favorire &quot;una particolare attenzione alla
          tutela della salute quale bene pubblico attraverso la promozione di un&#39;alimentazione di qualità e
          selezionata&quot;. Una sfida che viene rivolta, in primo luogo, agli studiosi affinché sia la ricerca scientifica &quot;a
          individuare, potenziare e divulgare le proprietà benefiche degli elementi presenti in alcuni cibi&quot;.</p>
        <p class="text-start fs-6 fw-light" >
          Focus di azione, sviluppo e intervento nel territorio marchigiano della Nostra Associazione è stata la
          promozione della Carta d’Intenti per la Salute dell’Uomo, “Dalla Terra alla Tavola, i Prodotti della filiera
          agroalimentare marchigiana sicuri, controllati e certificati, sviluppati nel rispetto dell’ambiente, curati con
          amore in tutte le fasi della loro lavorazione, preparati secondo le ricette della tradizione per garantire la
          resa funzionale ed organolettica, per arricchire la vita dell’uomo dei piaceri del gusto e della convivialità,
          per promuovere l’educazione alimentare e la ricerca scientifica a braccetto con Università, Sanità,
          Istituzioni e Associazioni, per migliorare la salute dell’uomo e per alleviare le sofferenze dei malati.</p>
        <p class="text-start fs-6 fw-light " >
          La Carta d’Intenti racchiude quindi l’inizio di un percorso virtuoso che l’Associazione ha chiamato Health
          Nutrition Ecology per “pensare insieme la salute”, fatto di importantissimi incontri ispirati al concetto di
          “ALIMENTAZIONE SICURA E SALUTE DELL’UOMO” trattando argomenti come la salubrità alimentare
          (controlli, sicurezza e certificazioni) e il ruolo di una corretta nutrizione nella prevenzione delle malattie.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-auto" style="margin-top: 10%;">
        <img src="assets/img/presentazione/monteconero.webp" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 4%;">
    <div class="col-sm-6">
      <div class="card mb-auto">
        <img src="assets/img/presentazione/uno.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-auto" style="padding: 3%; margin-top: 6%;">
        <p class="text-center text-warning text-uppercase fs-3">terra et panem</p>
        <p class="text-start fs-6 fw-light">
          Tra gli eventi di rilievo dell’Associazione c’è “Terra et Panem”, un evento che ha dato impulso ad una legge
          regionale sulla farina integrale all’origine, per tutelare le vere produzioni dalle miscele di farina bianca ogm
          con crusca. Il frutto di tutto questo lavoro negli anni ha dato i suoi risultati come lo sviluppo internazionale
          di molte delle aziende nostre associate. Tutto il nostro impegno è a garanzia del successo, del progresso e
          della prosperità, non solo più di un singolo, ma di una comunità, quella “Marchigiana”, unita dagli stessi
          ideali e intenti di sviluppo, crescita e benessere nel rispetto dei valori per migliorare la Salute e la
          Condizione di vita dell’Uomo, auspicando che una rinnovata e più consapevole politica sappia rispondere
          alla “fame” dei cittadini.
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 4%">
    <div class="col-sm-6">
      <div class="card mb-auto" style="padding: 3%;">
        <p class="text-center fs-4 text-uppercase" >PREMIO MARCHIGIANI DELL'ANNO</p>
        <p class="text-start fs-6 fw-light" >
          Fiore all'occhiello dell'Associazione è l'organizzazione del Premio Nazionale “I Marchigiani dell'Anno" e “Premio Internazionale Marche” insieme all'Accademia Marchigiani dell'Anno, che, sin dalla sua fondazione nel 1990,
          ha premiato oltre 300 personalità marchigiane di rilievo del panorama imprenditoriale, culturale, politico, artistico, sportivo, giornalistico, diplomatico, medico, ecclesiastico, volontaristico e solidaristico.
          Personalità di spicco che nel corso dell’anno si sono distinte per qualità umane e professionali sul territorio nazionale ed internazionale.
          Chiamato a valutare i curricula e le esperienze dei candidati al Premio, è un Comitato d’onore di altissimo livello composto, tra gli altri, dai Rettori delle Università marchigiane.
          Particolare accuratezza nella scelta delle personalità cui conferire il Premio è data dalla ricerca di figure che non abbiano ricevuto altri conferimenti similari nella loro carriera.
          Anche la scelta del locale è sempre accuratamente selezionata, per garantire la migliore accoglienza possibile all'evento e per sorprendere i graditissimi ospiti.
          Nel giugno 2023 si terrà la 32° edizione.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-auto" style="margin-top: 7%;">
        <img src="assets/img/presentazione/march-anno.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
