<app-navbar></app-navbar>
<body class="text-center">
<main class="form-signin w-100 m-auto">
  <form (ngSubmit)="onSubmit()" #lf="ngForm">
    <img class="mb-4" src="assets/img/logo1.svg" alt="..." height="10%" width="100%" >
    <h1 class="h3 mb-3 fw-normal">Cambia Password</h1>
    <div class="form-floating" >
      <input
        type="password"
        class="form-control"
        [(ngModel)]="changePasswordRequest.password"
        id="email"
        name="email"
        placeholder="Inserire email"
        required>
      <label for="email">Password</label>
    </div>
    <p></p>
    <div class="form-floating" >
        <input
          type="password"
          class="form-control"
          [(ngModel)]="confPassword"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Conferma password"
          required>
        <label for="email">Conferma Password</label>
    </div>
      <p></p>
    <button class="w-100 btn btn-lg btn-warning" type="submit" >Conferma</button>
  </form>
</main>
</body>
<app-footer></app-footer>
