<h2 class="fs-4"> Cronologia dei produttori </h2>
<div class="container">
<div *ngFor="let producer of listProducerActive | paginate : {itemsPerPage: 6 , currentPage: this.p};  index as i"  class="list-group">

  <ul class="list-group-item flex-column align-items-start">
    <!--  <div class="d-flex w-100 justify-content-between"> -->
      <li class="d-flex flex-row " >

        <svg  style="margin-top: 10px" *ngIf="producer.status=='APPROVED'"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <svg  style="margin-top: 10px" *ngIf="producer.status=='REJECTED'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill circle" viewBox="0 0 16 16" >
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
        </svg>

        <div class ="p-2 flex-grow-1 bd-highlight">
          <h5>{{producer.nome}}</h5>  <small>{{producer.created!.toString().substring(3, 15)}}</small>
        </div>


      <div  style="display: flex; align-items: center">
        <button (click)="deleteProducer(producer.id)" *ngIf=" producer.status =='REJECTED'" type="button" class="btn  Elimina"> Elimina </button>
        <button (click)="restoreProducer(producer.id)" type="button" class="btn  Ripristina"> Ripristina </button>
      </div>
      </li>
  </ul>
</div> <!-- Elenco della cronologia dei produttori  -->
  <ng-container *ngIf="listProducerActive.length>6">
    <div class="pagination-container">
      <pagination-controls class="pagination" (pageChange)= " p=$event "> </pagination-controls>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
