/*Titolo--------------------------------*/
.fs-2{
  margin-bottom: 40px;
  margin-left: 30px;
  font-weight: bold;
  color : black;
}

.fs-4{
  font-weight: bold;
  color : black;
}


/*Container-------------------------------*/
.container{
  height: 80vh;
  padding-bottom: 100px;
  overflow-y: auto;
  padding-right: 50px;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/*Card----------------------------------------------*/
.card-img-top{
  width: 200px;
  height: 250px;
  border: none;
  border-radius: 6px;
  object-fit: cover;
}

.card-body{
  overflow-y: hidden;
  background-color: #edf1ec;
  margin-left: 210px;
  margin-top: -250px;
  height: 250px;
  border: none;
  border-radius: 6px;
}

.card{
  border: none;
  min-width: 300px;
}
.card-text{
  overflow-y: auto;
}

/*Hide scroolbar from Card*/
.card-text::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-text{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/*Form---------------------------------------*/
.form-control {
  outline: none;
  background-color: whitesmoke;
  transition: width 0.3s;
  box-sizing: border-box;
  border: none;
}

.form-control:focus{
  border-width: 1px;
  box-shadow: 0 0 0 0.25rem rgba(146, 182, 171, 0.45);
  border-color: darkseagreen;
}

.img-form{
  --bs-border-width: 1px;
  border-width: 1px;
  border-color: rgb(236, 237, 238);
}

/*Hide scroolbar Form*/
.form-control::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-control {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/*Bottone-----------------------------------------*/
.btn{
  border: none;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  margin: 10px;
  opacity: 0.7;
  background-color: darkseagreen;
  width: 100px;
}

.btn:hover{
  opacity: 1;
}


.alert {
  position: fixed;
  top: 100px;
  right: 20px;
  padding: 10px 14px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.close {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}
