.fs-4{
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  color : black;
}

/*Container----------------------------------*/
.container{
  height: 80vh;
  padding-bottom: 100px;
  padding-right: 50px;
  overflow-y: auto;
 }

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*---------------------------------------------*/
ul:hover {
  background-color: rgba(186, 232, 185, 0.34);
  border: none;
}

/*Limited Tex----------------------------------*/
.limited-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40vw;
}

/*Buttons----------------------------*/
.btn{
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  margin: 10px;
}

.btn:hover{
  opacity: 0.8;
}

.Ripristina{
  background-color: #9cc79c;
}

.Elimina{
  background-color: #d97a88;
}


/*pagination----------------------*/
.pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination /deep/ .ngx-pagination .current {
  border-radius: 10px;
  margin: 3px;
  background: darkseagreen;
}

.pagination /deep/ .ngx-pagination{
  border-radius: 10px;
}

.pagination /deep/ .ngx-pagination .pagination-next:hover{
  border-radius: 10px;
}

.pagination /deep/ .ngx-pagination li.pagination-next{
  border-radius: 10px;
}

.pagination /deep/ .ngx-pagination a{
  border-radius: 10px;
}
