
<footer id="footer" class="text-white text-center text-lg-start bg-dark" style="padding: 0;height: max-content; width: 100vw">
  <div class="container p-4 bg bg-dark" >
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0 ">
        <p class="fw-bolder text-uppercase">Associazione Prodotti Nobili Marchigiani e Italiani</p>
        <p>
          La buona alimentazione, la convivialità, la salute e la tutela del patrimonio agroalimentare marchigiano
          sono da oltre vent'anni tra i nostri principali obiettivi
        </p>

        <div class="mt-4 text-lg-start">
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-facebook"></i></a>
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-instagram"></i></a>
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-whatsapp"></i></a>
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-telegram"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0"></div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <p class="fw-bolder text-uppercase">Dove ci troviamo ?</p>
        <ul class="list-group" style="margin-left: 1.65em;">
          <li class="mb-3">
            <a class="text-white" href="https://www.google.com/maps/place/I+Prodotti+Nobili+Marchigiani+ed+Italiani/@43.564073,13.5122472,15z/data=!4m6!3m5!1s0x132d805bb6aa6ce9:0x26810f13c775ff70!8m2!3d43.564073!4d13.5122472!16s%2Fg%2F11nh4h4gyf">
              <span class="fa-li"><i class="bi bi-house-door-fill" ></i></span></a>
            <span class="ms-2"> Via 1° Maggio, 25</span>
          </li>
          <li class="mb-3">
            <a class="text-white" href="https://www.google.com/maps/place/I+Prodotti+Nobili+Marchigiani+ed+Italiani/@43.564073,13.5122472,15z/data=!4m6!3m5!1s0x132d805bb6aa6ce9:0x26810f13c775ff70!8m2!3d43.564073!4d13.5122472!16s%2Fg%2F11nh4h4gyf">
              <span class="fa-li"><i class="bi bi-geo-alt" ></i></span></a>
            <span class="ms-2"> 60131 Ancona (AN)</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="bi bi-person-vcard"></i></span><span class="ms-2"> 93141890421</span>
          </li>
        </ul>
      </div>

    </div>

  </div>


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Prodotti Nobili Marchigiani
  </div>

</footer>

